<nav class="menu-main">
    <div class="menu-main-inner">
        <ul class="hidden-sm hidden-xs">
            <li class="menu-item-has-children">
                <a href="index.html"><i class="fa fa-home"></i> Home </a>
                <ul class="sub-menu">
                    <li>
                        <a href="index.html">Default style</a>
                    </li>
                    <li>
                        <a href="index-menu.html">Menu visible</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="index-grid.html">Home grid</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index-grid.html">Grid normal</a>
                            </li>
                            <li>
                                <a href="index-grid-large.html">Grid large</a>
                            </li>
                            <li>
                                <a href="index-grid-small.html">Grid small </a>
                            </li>
                            <li>
                                <a href="index-grid-sidebar.html">Grid sidebar </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="index-masonry.html">Home masonry</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index-masonry.html">Masonry normal</a>
                            </li>
                            <li>
                                <a href="index-masonry-large.html">Masonry large</a>
                            </li>
                            <li>
                                <a href="index-masonry-small.html">Masonry small </a>
                            </li>
                            <li>
                                <a href="index-masonry-sidebar.html">Masonry sidebar </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index-slider.html">Home Slider </a>
                    </li>
                    <li>
                        <a href="index-sidebar-left.html">Sidebar Left </a>
                    </li>
                    <li>
                        <a href="index-background.html">Home Background </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="category.html">
                    Category
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="category.html">Category default</a>
                    </li>
                    <li>
                        <a href="category-small.html">Category small </a>
                    </li>
                    <li>
                        <a href="category-grid.html">Category grid </a>
                    </li>
                    <li>
                        <a href="category-masonry.html">Category masonry </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="single.html">Single<span></span></a>
                <ul class="sub-menu">
                    <li>
                        <a href="single.html">Default style</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="single-thum-large.html">Single Feature</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="single-thum-large.html">Feature image format </a>
                            </li>
                            <li>
                                <a href="single-gallery.html">Gallery format</a>
                            </li>
                            <li>
                                <a href="single-gallery1.html">Gallery format I</a>
                            </li>
                            <li>
                                <a href="single-video.html">Video format</a>
                            </li>

                            <li>
                                <a href="single-audio.html">Music format </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="single-fullwidth.html">Full width</a>
                    </li>
                    <li>
                        <a href="single-fullwidth-special.html">Single special</a>
                    </li>
                    <li>
                        <a href="single-fullwidth-three-column.html">Single three columns</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="about.html">Pages<span></span></a>
                <ul class="sub-menu">
                    <li>
                        <a href="about.html">About me</a>
                    </li>
                    <li>
                        <a href="404.html">Page 404</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact us</a>
                    </li>
                    <li>
                        <a href="gallery.html"> Gallery</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="shop.html">SHOP<span></span></a>
                <ul class="sub-menu">
                    <li>
                        <a href="shop.html">Shop Default</a>
                    </li>
                    <li>
                        <a href="shop-sidebar.html">Shop  Sidebar</a>
                    </li>
                    <li>
                        <a href="shop-sidebar-large.html">Shop Sidebar Large</a>
                    </li>
                    <li>
                        <a href="shop-single.html"> Shop Single</a>
                    </li>
                    <li>
                        <a href="cart.html"> Shop Cart</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="search-icon">
            <i class="fa fa-search"></i>
        </div>
        <div class="search-box">
            <form>
                <input type="search" value="" placeholder="Begin typing..." class="txt-search">
            </form>
        </div>
    </div>
</nav>
