{% extends "base.html" %}

{% load counters_extras i18n static %}

{% block main %}
<div class="wrapper">
    <div class="wrap">
        <article class="big-sticky-post">
            <div class="post-meta">
                <span class="post-date">
                    {% translate "All time" %}
                </span>
                <span class="post-category">
                    <a href="#">{% translate "Today" %}</a>
                </span>
            </div>
            <div class="post-thumb">
                <a href="single-fullwidth-three-column.html">
                    <img alt="{% translate "Missing people posters collage." %}" src="{% static "images/collages/mx-mor.png" %}"/>
                    <div class="main-counter">
                        <p>
                            <span class="counter-head">{{ mpp_count }}</span><br>
                            <span class="counter-sub">
                                {% blocktranslate with state_label=state.label%}
                                missing in {{ state_label }}
                                {% endblocktranslate %}
                            </span>

                        </p>
                    </div>
                </a>
            </div>
            <div style="margin-top: 20px;" class="post-des">
                <p>
                    {% blocktranslate with state_label=state.label %}
                    This webpage counts how many people have been reported missing in <b>{{ state_label }}</b> in total,
                    <b>the counter updates every 15 minutes</b>, so you can come back later to see if the count has
                    increased. <b>How does it work?</b> A bot visits the state prosecutor's office website, then extracts
                    the missing person posters and saves them in a database, this bot runs every few minutes, so it's
                    possible the next time you open this page you see new data. You can check the FAQ section to find
                    more information about this, or you can check the ABOUT ME section to know more about me.
                    {% endblocktranslate %}
                </p>
            </div>
        </article>

        <!--hightlight news-->
        <div class="tag-news-caption">
            <p class="fixtext">  #{% translate "Latest cases" %}</p>
        </div>
        <div class="tags-three">
            {% for mpp_list in lastest_mpp_lists %}
                <div class="row">
                    {% for mpp in mpp_list %}
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <article class="ciz-post">
                                <div class="post-thumb">
                                    <a href="single-gallery.html">
                                        <img
                                            alt="{% translate "{{ mpp.mp_name }}" %}"
                                            src="{{ mpp.po_poster_url }}"
                                        >
                                    </a>
                                </div>
                                <h3 class="post-title">
                                    <a href="single-gallery.html">{{ mpp.mp_name|truncatechars:25 }}</a>
                                </h3>
                                <div class="post-meta">
                                    <span class="post-date">
                                        {{ mpp.loss_date }}
                                    </span>
                                    {% if mpp.missing_from %}
                                        <em>/</em>
                                        <span class="post-category">
                                            <a href="#">{{ mpp.missing_from|truncatechars:35 }}</a>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="post-des">
                                    <p>{{ mpp.circumstances_behind_dissapearance|default:_("No details about circumstances behind dissapearance.")|truncatechars:105 }}</p>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            {% empty %}
            <div class="row text-center">
                <h2>{% translate "No cases available." %}</h2>
            </div>
            {% endfor %}
        </div>
        <!--cols-->
        <div class="cols">
            <!--colleft-->
            <div class="colleft">
                <!--box-category-->
                <div class="box-category">
                    <div class="col-caption">
                        <span>{% translate "Missings classified by sex" %}</span>
                    </div>
                    <article class="category-big-post">
                        <div class="post-thumb">
                            <a href="single-audio.html">
                                <img alt="" src="{% static "svg/woman-man.svg" %}" />
                            </a>
                        </div>
                        <div class="post-des dropcap">
                            <p>
                                {% blocktranslate %}
                                Here you can check the count of all the posters of missing people classified as
                                <b><i>female</i></b>, <b><i>male</i></b> or <b><i>other</i></b>. Some posters determined
                                as <b><i>other</i></b> may correspond to <b><i>females</i></b> or <b><i>males</i></b>
                                but were issued as <b><i>other</i></b> due to an error in the automatic classification
                                process.
                                {% endblocktranslate %}
                            </p>
                        </div>
                    </article>

                    <div class="three-articles">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="three-item">
                                    <div class="post-thumb">
                                        <a href="single.html">
                                            <img alt="" src="{% static "svg/missing-woman.svg" %}" />
                                        </a>
                                    </div>
                                    <h3 class="text-center">
                                        <a href="single.html">
                                            {{ missing_female_count|humanint }} {% translate "women missing" %}
                                        </a>
                                    </h3>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="three-item">
                                    <div class="post-thumb">
                                        <a href="single.html">
                                            <img alt="" src="{% static "svg/missing-man.svg" %}">
                                        </a>
                                    </div>
                                    <h3 class="text-center">
                                        <a href="single.html">
                                            {{ missing_male_count|humanint }} {% translate "missing men" %}
                                        </a>
                                    </h3>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="three-item">
                                    <div class="post-thumb">
                                        <a href="single.html">
                                            <img alt="" style="color; #222;" src="{% static "svg/missing-unknown.svg" %}" />
                                        </a>
                                    </div>
                                    <h3 class="text-center">
                                        <a href="single.html">
                                            {{ missing_other_count|humanint }} {% translate "missing other" %}
                                        </a>
                                    </h3>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>

                <!--box-category-->
                <div class="box-category">
                    <div class="col-caption">
                        <span>{% translate "FILTERS" %}</span>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="post-des dropcap">
                                <p>
                                    {% blocktranslate %}
                                    Using the following forms you can filter the missing person posters by
                                    <b>specific dates</b> or <b>date ranges</b>.
                                    {% endblocktranslate %}
                                </p>
                            </div>
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title" style="text-align: left;">
                                    <a class="filter-link" href=""><span>{% translate "CLICK HERE TO FILTER BY TODAY'S DATE" %}</span><small></small></a>
                                </h3>
                            </div>
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title" style="text-align: left;">
                                    <span>{% translate "FILTER BY DATE" %}</span><small></small>
                                </h3>
                                <form action="#" method="post" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-item">
                                                <p class="field-caption">
                                                    {% translate "Date" %} <span>*</span>
                                                </p>
                                                <input id="author" name="author" placeholder="" type="text" value="" tabindex="1">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="form-submit">
                                        <input type="submit" class="my-btn my-btn-dark" value="{% translate "FILTER" %}">
                                    </p>
                                </form>
                            </div>
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title" style="text-align: left;">
                                    <span>{% translate "FILTER BY DATE RANGE" %}</span> <small>
                                    </small>
                                </h3>
                                <form action="#" method="post" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-item">
                                                <p class="field-caption">
                                                    {% translate "Date from" %} <span>*</span>
                                                </p>
                                                <input id="author" name="author" placeholder="" type="text" value="" tabindex="1">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-item">
                                                <p class="field-caption">
                                                    {% translate "Date to" %} <span>*</span>
                                                </p>
                                                <input id="email" name="email" placeholder="" type="text" value="" tabindex="2">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="form-submit">
                                        <input type="submit" class="my-btn my-btn-dark" value="{% translate "FILTER" %}">

                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--colright-->
            <div class="colright">
                <!--box social-->
                <div class="col-caption">
                    <span>{% translate "ALERT COUNT" %}</span>
                </div>
                <div class="box-social">
                    <div class="social-network">
                        <div class="sn-row">
                            <div class="sn-col">
                                <div class="sn-item youtube">
                                    <div class="sn-icon">
                                        <img src="{% static "svg/amber-alert-mexico-color.svg" %}" alt="{% translate "AMBER alert" %}" srcset="">
                                    </div>
                                    <p>{{ amber_alert_count|humanint }}</p>
                                    <span>{% translate "AMBER Alerts" %}</span>
                                </div>
                            </div>
                            <div class="sn-col">
                                <div class="sn-item youtube">
                                    <div class="sn-icon">
                                        <img src="{% static "svg/alba-alert-mexico-color.svg" %}" alt="{% translate "Alba protocol" %}" srcset="">
                                    </div>
                                    <p>{{ alba_protocol_count|humanint }}</p>
                                    <span>{% translate "ALBA Protocols" %}</span>
                                </div>
                            </div>
                            <div class="sn-col">
                                <div class="sn-item youtube">
                                    <div class="sn-icon">
                                        <img src="{% static "svg/odisea-alert-mexico-color.svg" %}" alt="{% translate "Odisea alert" %}" srcset="">
                                    </div>
                                    <p>{{ odisea_alert_count|humanint }}</p>
                                    <span>{% translate "Odisea Alerts" %}</span>
                                </div>
                            </div>
                            <div class="sn-col">
                                <div class="sn-item youtube">
                                    <div class="sn-icon">
                                        <i class="fa fa-address-card"></i>
                                    </div>
                                    <p>{{ other_uncategorized_alert_count|humanint }}</p>
                                    <span>{% translate "Other alerts" %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            {% blocktrans %}
                            These are the total counts of all the alerts that have ever been issued. Alerts are
                            classified in <b>4</b> categories: <b><i>AMBER alert</i></b>, <b><i>Alba protocol</i></b>,
                            <b><i>Odisea alert</i></b> and <b><i>Others</i></b>. Some alerts determined as
                            <b><i>Others</i></b> can actually be <b><i>AMBER</i></b>, <b><i>Alba</i></b> or
                            <b><i>Odisea</i></b>, but were labeled as <b><i>Others</i></b> because a fail in the
                            automatic classification process.
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>

                <!--box post by tags-->
                <div class="col-caption">
                    <span>{% translate "TOP COUNTIES" %}</span>
                </div>
                <div class="clearfix">
                    {% blocktrans %}
                    Counties with most missing person reports are shown here.
                    {% endblocktrans %}
                </div>
                <div class="box-news-by-tags">
                    <ul>
                        {% for missing_from in most_common_missing_from_list %}
                            <li>
                                <p>
                                    <a href="single-fullwidth-three-column.html">
                                        {% blocktranslate with missing_from_county=missing_from.0 missing_count=missing_from.1  %}
                                        {{ missing_from_county }}, with {{ missing_count }} missing(s)
                                        {% endblocktranslate %}
                                    </a>
                                </p>
                            </li>
                        {% empty %}
                            {% translate "TOP not available." %}
                        {% endfor %}
                    </ul>
                </div>

                <!--box trending-->
                <div class="col-caption">
                    <span>{% translate "USEFUL LINKS" %}</span>
                </div>
                <div class="box-trending">
                    <article class="trending-item">
                        <h3>
                            <a href="single-gallery.html">
                                {% translate "Here is a collection of links that may be of your interest." %}
                            </a>
                        </h3>
                    </article>
                    <ul class="list-trending">
                        <li>
                            <div class="post-thumb">
                                <a href="single.html">
                                    <img alt="" src="{% static "svg/maps/" %}{{ state|lower }}-o.svg">
                                </a>
                            </div>
                            <h3 class="post-title">
                                <a href="single.html">
                                    {% blocktranslate with state_label=state.label%}
                                    Missing people list of {{ state_label }}
                                    {% endblocktranslate %}
                                </a>
                            </h3>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a href="single.html">
                                    <img alt="" src="{% static "svg/mexican-police.svg" %}">
                                </a>
                            </div>
                            <h3 class="post-title">
                                <a href="single.html">
                                    {% translate "Prosecutor's Office websites list where posters are extracted." %}
                                </a>
                            </h3>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a href="single.html">
                                    <img alt="" src="{% static "svg/api.svg" %}">
                                </a>
                            </div>
                            <h3 class="post-title">
                                <a href="{% url "counters:mpp-list-create" %}">
                                    {% translate "Would you like to access this data? Check the API." %}
                                </a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--bottom-->
        <div class="bottom">
            <div class="bottom-inner">
                <div class="bottom-col">
                    <div class="col-caption">
                        <span>RECENT POST</span>
                    </div>
                    <ul class="recent-post">
                        <li>
                            <p><a href="single-gallery.html">	Maecenas semper ante sed lectus egestas.</a></p>
                        </li>
                        <li>
                            <p><a href="single.html">	Proin eget tortor risus.</a></p>
                        </li>

                        <li>
                            <p><a href="single-fullwidth-special.html">	The beautifull girl.</a></p>
                        </li>

                        <li>
                            <p><a href="single-fullwidth-three-column.html">	Simply dummy text</a></p>
                        </li>

                        <li>
                            <p><a href="single-audio.html">	What The Font</a></p>
                        </li>
                    </ul>
                </div>
                <div class="bottom-col">
                    <div class="col-caption">
                        <span>TAG CLOUD</span>
                    </div>
                    <div class="list-tags">
                        <p class="hidden"></p>
                        <a href="#"> special</a>
                        <a href="3"> USA</a>
                        <a href="#"> spotlight</a>
                        <a href="#"> Days news</a>
                        <a href="3"> review</a>
                        <a href="#"> spotlight</a>
                        <a href="#"> max in</a>
                        <a href="#"> special</a>
                        <a href="3"> cloud </a>
                        <a href="#"> spotlight</a>
                        <a href="#"> Lorem text</a>
                        <a href="3"> review</a>
                        <a href="#"> spotlight</a>
                        <a href="#"> sky blue</a>
                        <a href="3"> review</a>
                        <a href="#"> hot news</a>
                        <a href="#"> ciz themes</a>
                        <a href="3"> review</a>
                        <a href="#"> spotlight</a>
                        <a href="#"> spotlight</a>
                        <a href="#"> Lorem text</a>
                        <a href="3"> review</a>
                        <a href="#"> spotlight</a>
                        <a href="#"> sky blue</a>
                        <a href="3"> review</a>
                    </div>
                </div>
                <div class="bottom-col">
                    <div class="col-caption">
                        <span>INSTAGRAM</span>
                    </div>
                    <ul class="instagram-pics">
                        <li>
                            <a href="#">
                                <img src="images/i1.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/i2.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/i3.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/i4.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/i5.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/i6.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}