{% extends "base.html" %}
{% load counters_extras humanize iterutils_extras i18n static %}

{% block metatags %}
{% if request.GET.autorefresh %}<meta http-equiv="refresh" content="900">{% endif %}
{% endblock metatags %}

{% block title %}{{ state.label }}{% endblock title %}

{% block main %}
<div class="wrapper">
    <div class="wrap">
        <article class="big-sticky-post">
            <div class="post-meta">
                <span class="post-date">
                    {% translate "Last update" %}
                </span>
                <span class="post-category">
                    <a
                        id="updated-at"
                        data-toggle="tooltip"
                        data-placement="right"
                        href="."
                        title="{% translate "Click here to update the counter" %}"
                    >
                        {{ counter_updated_at|naturaltime }}
                    </a>
                </span>
            </div>
            <div class="post-thumb">
                <a href="#">
                    <img alt="{% translate "Missing people posters collage." %}" src="{% static "images/collages/mx-mor.png" %}"/>
                    <div class="main-counter">
                        <p>
                            <span class="counter-head">{{ mpp_count }}</span><br>
                            <span class="counter-sub">
                                {% blocktranslate with state_label=state.label%}
                                missing in {{ state_label }}
                                {% endblocktranslate %}
                            </span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="post-des main-description">
                <label class="checkbox-inline autorefresh">{% translate "AUTO REFRESH" %}</label>
                <label class="checkbox-inline">
                    <input
                        id="auto-refresh"
                        type="checkbox"
                        data-toggle="toggle"
                        data-size="mini"
                        data-on="{% translate "ON" %}"
                        data-off="{% translate "OFF" %}"
                        data-onstyle="primary"
                        {% if request.GET.autorefresh %}checked{% endif %}
                    >
                </label>
                <p>
                    {% blocktranslate with state_label=state.label %}
                    This webpage counts how many people have been reported missing in <b>{{ state_label }}</b> in total,
                    <b>the counter updates every 15 minutes</b>, so you can come back later to see if the count has
                    increased. <b>How does it work?</b> A bot visits the state prosecutor's office website, then extracts
                    the missing person posters and saves them in a database, this bot runs every few minutes, so it's
                    possible the next time you open this page you see new data. You can check the FAQ section to find
                    more information about this, or you can check the <b>About Me</b> section to know more about me.<br>
                    {% endblocktranslate %}
                </p>
            </div>
        </article>
        <div class="tag-news-caption">
            <p class="fixtext">  #{% translate "Latest cases" %}</p>
        </div>
        <div class="tags-three">
            {% for mpp_list in latest_mpp_lists|chunked:3 %}
                <div class="row">
                    {% for mpp in mpp_list %}
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <article class="ciz-post">
                                <div class="post-thumb">
                                    <a href="{{ mpp.po_poster_url }}">
                                        <img alt="{{ mpp.mp_name }}" src="{{ mpp.po_poster_url }}">
                                    </a>
                                </div>
                                <h3 class="post-title">
                                    <a href="{{ mpp.po_post_url }}">{{ mpp.mp_name|truncatechars:25 }}</a>
                                </h3>
                                <div class="post-meta">
                                    <span class="post-date">
                                        {{ mpp.loss_date }}
                                    </span>
                                    {% if mpp.missing_from %}
                                        <em>/</em>
                                        <span class="post-category">
                                            <a href="#">{{ mpp.missing_from|truncatechars:35 }}</a>
                                        </span>
                                    {% endif %}
                                    <em>|</em>
                                    {% if mpp.alert_type %}
                                        <span class="post-category">
                                            <span class="alert-label">{{ mpp.alert_type|humanalert }}</span>
                                        </span>
                                    {% endif %}
                                    {% if mpp.found %}
                                        <span class="post-category">
                                            <span class="found-label">{% translate "Found" %}</span>
                                        </span>
                                    {% else %}
                                        <span class="post-category">
                                            <span class="missing-label">{% translate "Missing" %}</span>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="post-des">
                                    <p>{{ mpp.circumstances_behind_dissapearance|default:_("No details about circumstances behind dissapearance.")|truncatechars:105 }}</p>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            {% empty %}
            <div class="row text-center">
                <h2>{% translate "No cases available." %}</h2>
            </div>
            {% endfor %}
        </div>
        <div class="cols">
            <div class="colleft">
                <div class="box-category">
                    <div class="col-caption">
                        <span>{% translate "Missings classified by sex" %}</span>
                    </div>
                    <article class="category-big-post">
                        <div class="post-thumb">
                            <a href="#">
                                <img alt="" src="{% static "svg/others/woman-man.svg" %}" />
                            </a>
                        </div>
                        <div class="post-des dropcap">
                            <p>
                                {% blocktranslate %}
                                Here you can check the count of all the posters of missing people classified as
                                <b><i>female</i></b>, <b><i>male</i></b> or <b><i>other</i></b>. Some posters determined
                                as <b><i>other</i></b> may correspond to <b><i>females</i></b> or <b><i>males</i></b>
                                but were issued as <b><i>other</i></b> due to an error in the automatic classification
                                process.
                                {% endblocktranslate %}
                            </p>
                        </div>
                    </article>

                    <div class="three-articles">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="three-item">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img alt="" src="{% static "svg/others/missing-woman.svg" %}" />
                                        </a>
                                    </div>
                                    <h3 class="text-center">
                                        <a href="#">
                                            {{ missing_female_count|humanint }} {% translate "women missing" %}
                                        </a>
                                    </h3>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="three-item">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img alt="" src="{% static "svg/others/missing-man.svg" %}">
                                        </a>
                                    </div>
                                    <h3 class="text-center">
                                        <a href="#">
                                            {{ missing_male_count|humanint }} {% translate "missing men" %}
                                        </a>
                                    </h3>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="three-item">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img alt="" src="{% static "svg/others/missing-unknown.svg" %}" />
                                        </a>
                                    </div>
                                    <h3 class="text-center">
                                        <a href="#">
                                            {{ missing_uncategorized_sex_count|humanint }} {% translate "missing other" %}
                                        </a>
                                    </h3>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-category">
                    <div class="col-caption">
                        <span>{% translate "FILTERS" %}</span>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="post-des dropcap">
                                <p>
                                    {% blocktranslate %}
                                    Using the following forms you can filter the missing person posters by
                                    <b>specific dates</b> or <b>date ranges</b>.
                                    {% endblocktranslate %}
                                </p>
                            </div>
                            <div id="respond1" class="comment-respond">
                                <h3 id="reply-title1" class="comment-reply-title">
                                    <a class="filter-link" href="">
                                        <p class="text-left">{% translate "CLICK HERE TO FILTER BY TODAY'S DATE" %}</p>
                                    </a>
                                </h3>
                            </div>
                            <div id="respond2" class="comment-respond">
                                <h3 id="reply-title2" class="comment-reply-title">
                                    <p class="text-left">{% translate "FILTER BY DATE" %}</p>
                                </h3>
                                <form action="#" method="post" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-item">
                                                <p class="field-caption">
                                                    {% translate "Date" %} <span>*</span>
                                                </p>
                                                <input id="author" name="author" placeholder="" type="text" value="" tabindex="1">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="form-submit">
                                        <input type="submit" class="my-btn my-btn-dark" value="{% translate "FILTER" %}">
                                    </p>
                                </form>
                            </div>
                            <div id="respond3" class="comment-respond">
                                <h3 id="reply-title3" class="comment-reply-title">
                                    <p class="text-left">{% translate "FILTER BY DATE RANGE" %}</p>
                                </h3>
                                <form action="#" method="post" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-item">
                                                <p class="field-caption">
                                                    {% translate "Date from" %} <span>*</span>
                                                </p>
                                                <input id="author" name="author" placeholder="" type="text" value="" tabindex="1">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-item">
                                                <p class="field-caption">
                                                    {% translate "Date to" %} <span>*</span>
                                                </p>
                                                <input id="email" name="email" placeholder="" type="text" value="" tabindex="2">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="form-submit">
                                        <input type="submit" class="my-btn my-btn-dark" value="{% translate "FILTER" %}">

                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="colright">
                <div class="col-caption">
                    <span>{% translate "ALERT COUNT" %}</span>
                </div>
                <div class="box-social">
                    <div class="social-network">
                        <div class="sn-row">
                            <div class="sn-col">
                                <div class="sn-item youtube">
                                    <div class="sn-icon">
                                        <img src="{% static "svg/alerts/amber-alert.svg" %}" alt="{% translate "AMBER alert" %}" srcset="">
                                    </div>
                                    <p>{{ amber_alert_count|humanint }}</p>
                                    <span>{% translate "AMBER alerts" %}</span>
                                </div>
                            </div>
                            <div class="sn-col">
                                <div class="sn-item youtube">
                                    <div class="sn-icon">
                                        <img src="{% static "svg/alerts/alba-alert.svg" %}" alt="{% translate "Alba protocol" %}" srcset="">
                                    </div>
                                    <p>{{ alba_protocol_count|humanint }}</p>
                                    <span>{% translate "ALBA protocols" %}</span>
                                </div>
                            </div>
                            <div class="sn-col">
                                <div class="sn-item youtube">
                                    <div class="sn-icon">
                                        <img src="{% static "svg/alerts/odisea-alert.svg" %}" alt="{% translate "Odisea alert" %}" srcset="">
                                    </div>
                                    <p>{{ odisea_alert_count|humanint }}</p>
                                    <span>{% translate "Odisea alerts" %}</span>
                                </div>
                            </div>
                            <div class="sn-col">
                                <div class="sn-item youtube">
                                    <div class="sn-icon">
                                        <img src="{% static "svg/alerts/hasvistoa-alert.svg" %}" alt="{% translate "Has visto a...? alert" %}" srcset="">
                                    </div>
                                    <p>{{ has_visto_a_alert_count|humanint }}</p>
                                    <span>{% translate "Has visto a...? alerts" %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            {% blocktranslate with other_alert_count=uncategorized_alert_count|humanint %}
                            <p class="text-center"><i><b>{{ other_alert_count }}</b> uncategorized alerts.</i></p>
                            These are the total counts of all the alerts that have ever been issued. Alerts are
                            classified in <b>4</b> categories: <b><i>AMBER alert</i></b>, <b><i>Alba protocol</i></b>,
                            <b><i>Odisea alert</i></b> and <b><i>Others</i></b>. Some alerts determined as
                            <b><i>Others</i></b> can actually be <b><i>AMBER</i></b>, <b><i>Alba</i></b> or
                            <b><i>Odisea</i></b>, but were labeled as <b><i>Others</i></b> because a fail in the
                            automatic classification process.
                            {% endblocktranslate %}
                        </div>
                    </div>
                </div>
                <div class="col-caption">
                    <span>{% translate "COUNTIES WITH MOST MISSINGS" %}</span>
                </div>
                <div class="box-news-by-tags">
                    <ul>
                        {% for missing_from in most_common_missing_from_list %}
                            <li>
                                <p>
                                    <a href="#">
                                        {% blocktranslate with missing_from_county=missing_from.0 missing_count=missing_from.1  %}
                                        {{ missing_from_county }}, with {{ missing_count }} missing(s)
                                        {% endblocktranslate %}
                                    </a>
                                </p>
                            </li>
                        {% empty %}
                            {% translate "TOP not available." %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-caption">
                    <span>{% translate "State with most missings" %}</span>
                </div>
                <div class="box-ads">
                    <img
                        class="state-with-most-missings"
                        alt="{{ state_with_most_missing_people.0|humanstate }}"
                        src="{% static "svg/states/" %}{{ state_with_most_missing_people.0 }}.svg"
                    />
                    {% blocktranslate with state_name=state_with_most_missing_people.0|humanstate mp_count=state_with_most_missing_people.1|humanint %}
                        <b>{{ state_name }}</b>, with {{ mp_count }} missing
                    {% endblocktranslate %}
                </div>
                <div class="col-caption">
                    <span>{% translate "USEFUL LINKS" %}</span>
                </div>
                <div class="box-trending">
                    <article class="trending-item">
                        <h3>
                            <a href="#">
                                {% translate "Here is a collection of links that may be of your interest." %}
                            </a>
                        </h3>
                    </article>
                    <ul class="list-trending">
                        <li>
                            <div class="post-thumb">
                                <a href="{% url "counters:mpp_list" view.kwargs.state %}">
                                    <img alt="" src="{% static "svg/states/" %}{{ state }}-o.svg">
                                </a>
                            </div>
                            <h3 class="post-title">
                                <a href="{% url "counters:mpp_list" view.kwargs.state %}">
                                    {% blocktranslate with state_label=state.label%}
                                    Missing people list of {{ state_label }}.
                                    {% endblocktranslate %}
                                </a>
                            </h3>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a href="#">
                                    <img alt="" src="{% static "svg/others/mexican-police.svg" %}">
                                </a>
                            </div>
                            <h3 class="post-title">
                                <a href="{% url "counters:about_po_websites" %}">
                                    {% translate "Prosecutor's Office websites list where posters are extracted." %}
                                </a>
                            </h3>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a href="{% url "counters:mpp_list_create" %}">
                                    <img alt="" src="{% static "svg/others/api.svg" %}">
                                </a>
                            </div>
                            <h3 class="post-title">
                                <a href="{% url "counters:mpp_list_create" %}">
                                    {% translate "Would you like to access this data? Check the API." %}
                                </a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {% links_and_stats %}
    </div>
</div>
{% endblock main %}
